name: Terrascan

on:
  push:
    paths:
     - 'chart/k8gb/**'
  pull_request:
    branches:
      - master
    paths:
     - 'chart/k8gb/**'
permissions:
  contents: read
  security-events: write # To upload sarif file

jobs:
  terrascan:
    runs-on: ubuntu-24.04
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
      with:
        egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

    - name: Checkout repository
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
    - name: Run Terrascan
      id: terrascan
      uses: accurics/terrascan-action@a4b0f7ec5fb3c4c66b8e76d824d958002f6ce12c
      with:
        iac_type: helm
        iac_version: v3
        only_warn: false
        verbose: true
        sarif_upload: true
        iac_dir: chart/k8gb
#    - name: Upload SARIF file
#      uses: github/codeql-action/upload-sarif@45775bd8235c68ba998cffa5171334d58593da47 # v3.28.15
#      with:
#        sarif_file: terrascan.sarif
